.Section5 {
  // border: 1px solid red;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .lineBox {
    // border: 1px solid red;
    height: 35vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 26vw;
    gap: 100px;
    padding-right: 10vw;
    .line {
      border: 1px solid #444a52;
      height: 100%;
      position: relative;
      .img {
        height: 20px;
        width: 20px;
        background-color: #1b1f24;
        position: absolute;
      }
      .img1 {
        top: 13vw;
        left: -10px;
      }
      .img2 {
        top: 25vw;
        left: -10px;
      }
      .img3 {
        top: 13vw;
        left: 20px;
        border-radius: 50%;
      }
      .img4 {
        top: 25vw;
        left: 20px;
        border-radius: 50%;
      }
    }
  }
}
