.Navbar {
  // border: 1px solid red;
  border-bottom: 1px solid #1f1931;
  height: auto;
  width: 100%;
  color: white;
  box-shadow: 0px 2px 7px #120e1c;

  .top-Nav {
    // border: 1px solid blue;
    border-bottom: 1px solid #1f1931;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;

    .links {
      // border: 1px solid yellow;
      height: 30px;
      width: auto;
      display: flex;
      align-items: center;
      gap: 20px;
      font-size: 14px;
      position: relative;

      input {
        width: 270px;
        height: 30px;
        background-color: #2e334a;
        outline: none;
        border: 1px solid #57606a;
        border-radius: 5px;
        padding: 0 25px 0 10px;
        font-size: 15px;
        color: white;
        &::placeholder {
          color: lightgray;
          font-size: 13px;
          font-weight: lighter;
        }
      }
      .cross {
        position: absolute;
        top: 5px;
        left: 300px;
      }
    }
    .profile-info {
      // border: 1px solid yellow;
      width: 100px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        &:hover {
          height: 19px;
          width: 19px;
        }
      }
    }
    span {
      &:hover {
        color: lightgray;
      }
    }
    cursor: pointer;
  }

  .bottom-Nav {
    // border: 1px solid yellow;
    height: 75px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 150px;
    .Features-List {
      height: 40px;
      width: 100%;
      font-size: 15px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;

      .Head {
        font-size: 22px;
        font-weight: bolder;
      }
      span:nth-child(1) {
        cursor: pointer;
        &:hover {
          color: #2f81eb;
        }
      }
      span:nth-child(6) {
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before {
          content: '';
          display: inline-block;
          height: 1px;
          width: 80%;
          background-color: white;
          position: absolute;
          bottom: -5px;
        }
        &:hover {
          color: #2f81eb;
        }
        &:hover:before {
          background-color: #2f81eb;
        }
      }
      span:not(:nth-child(1), :nth-child(6)) {
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before {
          content: '';
          display: inline-block;
          height: 1px;
          width: 50%;
          transition: width 0.2s ease-in;
          position: absolute;
          bottom: -5px;
        }
        &:hover {
          color: #2f81eb;
        }
        &:hover:before {
          background-color: #2f81eb;
          width: 80%;
        }
      }
    }
  }
}
