.Section6 {
  // border: 1px solid blue;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;

  .Sec6LineContainer {
    // border: 1px solid red;
    height: 180vh;
    display: flex;
    flex-direction: row;
    margin-left: 27vw;
    position: relative;
    .Sec6Line {
      position: relative;
      height: 1457px;
      .img {
        height: 25px;
        width: 25px;
        background-color: #1b1f24;
        position: absolute;
        left: -10px;
      }
      .img1 {
        top: 13vw;
      }
      .img2 {
        top: 17vw;
      }
      .img3 {
        top: 21vw;
      }
      .img4 {
        top: 25vw;
      }
      .img5 {
        top: 42vw;
      }
      .avatar {
        left: 30px;
        border-radius: 50%;
      }
    }
    .gradientLine {
      position: absolute;
      top: -300px;
      left: 2px;
      z-index: -1;
    }
    // Box Animation
    .BoxAnimImg {
      position: absolute;
      // border: 1px solid red;
      height: 100px;
      width: 100px;
      bottom: 20px;
      left: 300px;
      // opacity: 0;
    }
  }
  .Sec6AnimContainer {
    // border: 1px solid red;
    margin-top: 185px;
    height: 750px;
    width: 60vw;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .Sec6PecentContainer {
      //   border: 1px solid green;
      display: flex;
      flex-direction: row;
      .firstPerc {
        display: flex;
        flex-direction: column;
        width: 190px;
      }
      .Perc {
        font-size: 48px;
        color: white;
      }
      .PercCont {
        font-size: 20px;
        color: #777f89;
      }
    }
  }
}
