.Section6 {
  // border: 1px solid red;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;

  .Sec6LineContainer {
    // border: 1px solid red;
    height: 1320px;
    display: flex;
    flex-direction: row;
    margin-left: 27vw;
    position: relative;
    .Sec6Line {
      position: relative;
      // height: 1457px;
      z-index: 10;
      .img {
        height: 25px;
        width: 25px;
        background-color: #1b1f24;
        position: absolute;
        left: -10px;
      }
      .img1 {
        top: 185px;
      }
      .img2 {
        top: 245px;
      }
      .img3 {
        top: 310px;
      }
      .img4 {
        top: 25vw;
        top: 370px;
      }
      .img5 {
        top: 645px;
      }
      .avatar {
        left: 30px;
        border-radius: 50%;
      }
    }
    .gradientLine {
      position: absolute;
      top: -300px;
      left: 2px;
      z-index: 0;
    }
    // Box Animation
    .BoxAnimImg {
      position: absolute;
      // border: 1px solid red;
      height: 70px;
      width: 70px;
      bottom: 0px;
      left: 314px;
      // opacity: 0;
    }
  }
  .Sec6AnimContainer {
    // border: 1px solid blue;
    margin-top: 185px;
    height: 750px;
    width: fit-content;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .Sec6PecentContainer {
      // border: 1px solid green;
      display: flex;
      flex-direction: row;
      width: fit-content;
      .firstPerc {
        // border: 1px solid green;
        display: flex;
        flex-direction: column;
        width: 150px;
      }
      .Perc {
        font-size: 48px;
        color: white;
      }
      .PercCont {
        font-size: 20px;
        color: #777f89;
      }
    }
  }
}
