.ContentBlock {
  // border: 1px solid red;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .heading {
    color: white;
    font-weight: bolder;
  }

  .para {
    color: #7d8590;
    opacity: 0.8;
    width: 50vw;
  }
  .Sliding1 {
    transform: translate(0px, 0px);
    animation: sliding 0.3s ease-in-out;
    opacity: 0;
  }
  .Sliding2 {
    transform: translate(0px, 0px);
    animation: sliding 0.3s ease-in;
    opacity: 0;
  }
  .visible {
    opacity: 1;
  }
  @keyframes sliding {
    0% {
      transform: translate(-15px, 0px);
      opacity: 0;
    }
    100% {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }
}
